// COLORS
// Component <BG=”yellow”>
$primary: #F4E041;
// Component <BG=”blue”>
$secondary: #00BDD3;
// Background color
// Component <BG=”light-gray”> 
$bg-color1: #F8F8F8;
$bg-color2: #FFF;

// Header bg image second layer
$bg-dimmer: #00000080;

// TEXT as well as Buttons
$black87: #000000de;
$white87: #ffffffde;
$grey7E: #7E7E7E;
$error: #CB3D40;

// Main button
// Normal
$primary: #F4E041;
// Hover
$btn-hover: #FFE302;
// Disabled
$btn-disabled: #B4B4B4;
// Disabled txt
$btn-disabled: #B4B4B4;

// Inputs
$input-brd-color: #D0CFCF;
$grey7E: #7E7E7E; // placeholder

// Radio
$secondary: #00BDD3;
$grayC4: #C4C4C4;