@font-face {
  font-family: 'Nunito-Regular';
  src: url('@/assets/fonts/Nunito-Regular.ttf') format('truetype'),
      url('@/assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Nunito-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Nunito-Regular.woff') format('woff'),
      url('@/assets/fonts/Nunito-Regular.otf') format('otf');
}

// FONTS
// Component <Heading=«h1»> «normal»> 
@mixin heading1 {
  color: $black87;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
@mixin heading2 {
  color: $black87;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
// Component <Text=”p1”> 
@mixin body16 {
  // color: $black87;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@mixin body12 {
  color: $black87;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@mixin txt-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin capitalize {
  &::first-letter {
    text-transform: capitalize;
  }
}