@import './v-vars.scss';
@import './v-fonts.scss';
@import './v-layout.scss';

* {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$site-height: 100vh;
$site-width: 100%;
html {
  height: $site-height;
  height: -webkit-fill-available;
  width: 100%;

}
body {
  height: 100%;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-width: $site-width;
  // margin: 0 auto;
}

// RESETS
// input, select, textarea {
//   border: none;
//   outline: none;
//   border-style: none;
//   border-color: transparent;
//   overflow: hidden;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   resize: none; /*remove the resize handle on the bottom right*/
//   padding: 0;
//   margin: 0;
//}

