@import './fonts.scss';
@import './layout.scss';
@import './colors.scss';
@import './other.scss';

@import './temp.scss';

// #root {
//   min-width: 360px;
//   max-width: 2560px;
//   margin: 0 auto;
//   -webkit-overflow-scrolling: touch;
//   overflow-padding-behavior-bottom: strict;
// }


* {
  font-family: 'Nunito-Regular', sans-serif;
  @include body16;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100hv;
  height: -webkit-fill-available;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  // mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background-color: $bg-color1;
  scroll-behavior: smooth!important;
}

a {
  all: unset;
}
// RESETS
//input, select, textarea {
//   border: none;
//   outline: none;
//   border-style: none;
//   border-color: transparent;
//   overflow: hidden;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   resize: none; /*remove the resize handle on the bottom right*/
//   padding: 0;
//   margin: 0;
// {