//BACKGROUND IMAGE
$bg-image-sm-jpg: url('@/assets//images/bg-pics/sm.jpg');
$bg-image-sm-webp: url('@/assets//images/bg-pics/sm.webp');

$bg-image-md-jpg: url('@/assets//images/bg-pics/md.jpg');
$bg-image-md-webp: url('@/assets//images/bg-pics/md.webp');

$bg-image-lg-jpg: url('@/assets//images/bg-pics/lg.jpg');
$bg-image-lg-webp: url('@/assets//images/bg-pics/lg.webp');

$bg-image-xl-jpg: url('@/assets//images/bg-pics/xl.jpg');
$bg-image-xl-webp: url('@/assets//images/bg-pics/xl.webp');

$bg-main-icon: url('../assets/icons/head-icon.svg');
$bg-dimmer: #00000080;

// Main button
// Normal
$btn-pd: 4px 23px;
$btn-rd: 16px;

// Inputs style
$brd-radius: 4px;
$input-paddings: 14px 14px 14px 16px;