// GENERAL ADAPTATION MODE
$sizes: ("sm":360px, "md":768px, "lg":1024px, "xl":2560px);

@mixin media($min-max, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$min-max}-width: $resolution) {
        @content;
      }
    }
  }
}
// SCREEN SIZE & PADDINGS
@mixin gide-lines {
  border-left: 1px dotted grey;
  border-right: 1px dotted grey;
}
@mixin tech-mark {
  @include media('min', 'sm') { background-color: #deca98; }
  @include media('min', 'md') { background-color: #bf98de; }
  @include media('min', 'lg') { background-color: #98dece; }
  @include media('min', 'xl') { background-color: #de9898; }
}
// Main container

@mixin container-width {
  @include gide-lines;
  // @media screen and (min-width: 360px) { width: 360px; };
  // @media screen and (min-width: 768px) { width: 768px; };
  // @media screen and (min-width: 1024px) { width: 1024px; };
  // @media screen and (min-width: 2560px) { width: 1170px; };
  @include media('min', 'sm') { width: 360px; }
  @include media('min', 'md') { width: 768px; }
  @include media('min', 'lg') { width: 1024px; }
  @include media('min', 'xl') { width: 1170px; }
}

@mixin container-paddings {
  @include media('min', 'sm') { padding: 0 16px; }
  @include media('min', 'md') { padding: 0 32px; }
  @include media('min', 'lg') { padding: 0 56px 0 60px; }
  @include media('min', 'xl') { padding: 0; }
}

@mixin header-height {
  @include media('min', 'sm') { height: 500px }
  @include media('min', 'md') { height: 500px }
  @include media('min', 'lg') { height: 650px; }
  @include media('min', 'xl') { height: 650px; }
}
