// GENERAL ADAPTATION MODE
// $sizes: ("sm":360px, "md":768px, "lg":1024px, "xl":2560px);
$sizes: ("sm":360px, "md":768px, "lg":1024px, "xl":1280px);

@mixin media($min-max, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$min-max}-width: $resolution) {
        @content;
      }
    }
  }
}
// SCREEN SIZE & PADDINGS
@mixin general-width {
  @include media('min', 'sm') { width: 360px; }
  @include media('min', 'md') { width: 768px; }
  @include media('min', 'lg') { width: 1024px; }
  @include media('min', 'xl') { width: 1170px; }
}
@mixin container-width {
  // @include gide-lines;
  @include media('min', 'sm') { width: 328px; }
  @include media('min', 'md') { width: 704px; }
  @include media('min', 'lg') { width: 904px; }
  @include media('min', 'xl') { width: 1170px; }
}
// HEADER
@mixin header-height {
  @include media('min', 'sm') { height: 500px }
  @include media('min', 'md') { height: 500px }
  @include media('min', 'lg') { height: 650px; }
  @include media('min', 'xl') { height: 650px; }
}
@mixin header-top-pds {
  @include media('min', 'sm') { padding-top: 40px; }
  @include media('min', 'md') { padding-top: 89px; }
  @include media('min', 'lg') { padding-top: 164px; }
  @include media('min', 'xl') { padding-top: 164px; }
}
@mixin main-gallery {
  @include media('min', 'sm') { 
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  @include media('min', 'md') { 
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  @include media('min', 'lg') { 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
  }
  @include media('min', 'xl') { 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
  }
}

