//BACKGROUND IMAGE
$bg-main-image: url('../assets/images/pexels-alexandr-podvalny-1227513.jpeg');
$bg-main-icon: url('../assets/images/Logo.svg');
$bg-dimmer: #00000080;

// COLORS
// Primary color
// Component <BG=”yellow”>
$primary: #F4E041;
// Secondary color
// Component <BG=”blue”>
$secondary-color: #00BDD3;
// Background color
// Component <BG=”light-gray”> 
// Site background color
$bg-color1: #F8F8F8;
$bg-color2: #FFF;

// TEXT styles
// Buttons text color
$black87: #000000de;
$white87: #ffffffde;
$grey7E: #7E7E7E;
$error: #CB3D40;

// MAIN BUTTON styles
// Normal
$btn-pd: 4px 23px;
$btn-rd: 16px;
// Hover
$btn-hover: #FFE302;
// Disabled
$btn-disabled: #B4B4B4;
$main-button-disabled-text-color: $white87;

// Inputs style
$input-brd-radius: 4px;
$input-brd-color: #D0CFCF;
$grey7E: #7E7E7E; // placeholder
$input-paddings: 14px 14px 14px 16px;

// FONTS
// Component <Heading=«h1»> «normal»> 
@mixin heading1 {
  color: $black87;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
@mixin heading2 {
  color: $black87;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
// Component <Text=”p1”> 
@mixin body16 {
  // color: $black87;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@mixin body12 {
  color: $black87;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
