// Background
$bg-main-image: url('../assets/images/pexels-alexandr-podvalny-1227513.jpeg');
$bg-main-icon: url('../assets/images/Logo.svg');
$bg-dimmer: #00000080;

// Main button
// Normal
$btn-pd: 4px 23px;
$btn-rd: 16px;

// Inputs style
$input-brd-radius: 4px;
$input-paddings: 14px 14px 14px 16px;

// FONTS
// Component <Heading=«h1»> «normal»> 
@mixin heading1 {
  color: $black87;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
@mixin heading2 {
  color: $black87;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
// Component <Text=”p1”> 
@mixin body16 {
  // color: $black87;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@mixin body12 {
  color: $black87;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@mixin txt-ellipsis { // brakes absolute position
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: auto;
  overflow: hidden;
}

@mixin tooltip {
  position: absolute;
  bottom: -45px;
  left: 40%;
  border-radius: $input-brd-radius;
  @include body16;
  padding: 3px 16px;
  background-color: $black87;
  color: $bg-color2;
  z-index: 1;
}

@mixin capitalize {
  &::first-letter {
    text-transform: capitalize;
  }
}
// @include capitalize;